<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="earlyWarring">

    <select id="list" parameterType="map" resultType="earlyWarring">
        <![CDATA[
        select
            id,
            m_vstate as mVstate,
            m_astate as mAstate ,
            m_tstate as mTstate ,
            d_vstate as dVstate ,
            d_astate  as dAstate ,
            d_tstate  as dTstate,
            degree,
            city,
            line,
            door_no AS doorNo,
            created_at as createdAt
        from early_warring
        ]]>
        <where>
            <if test="isNew != null and isNew != ''">
                and is_new = #{isNew}
            </if>
            <if test="searchParam != null and searchParam != ''">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , m_vstate ]]>
                <![CDATA[ , m_astate ]]>
                <![CDATA[ , m_tstate ]]>
                <![CDATA[ , d_vstate ]]>
                <![CDATA[ , d_astate ]]>
                <![CDATA[ , d_tstate ]]>
                <![CDATA[ , degree ]]>
                <![CDATA[ , city ]]>
                <![CDATA[ , door_no ]]>
                <![CDATA[ ) Like  "%"#{searchParam}"%" ]]>
            </if>
        </where>
        order by created_at desc
        <if test="_limit != null and _offset !=null">
            limit #{_limit} offset #{_offset}
        </if>
    </select>


    <select id="selectCount" parameterType="map" resultType="int">
        <![CDATA[


                        select count(*) from early_warring


        ]]>
        <where>
            <if test="searchParam != null and searchParam != ''">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , m_vstate ]]>
                <![CDATA[ , m_astate ]]>
                <![CDATA[ , m_tstate ]]>
                <![CDATA[ , d_vstate ]]>
                <![CDATA[ , d_astate ]]>
                <![CDATA[ , d_tstate ]]>
                <![CDATA[ , degree ]]>
                <![CDATA[ , city ]]>
                <![CDATA[ , door_no ]]>
                <![CDATA[ ) Like  "%"#{searchParam}"%" ]]>
            </if>

        </where>
    </select>

    <update id="update" parameterType="map">
        <![CDATA[
        update early_warring
        ]]>
        <set>
            isNew = 0
        </set>
        where id = #{id}
    </update>
</mapper>
