<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="role">

    <select id="selectList" parameterType="map" resultType="roleVo">
        <![CDATA[
            select
            role_code as roleCode,
            role_name as roleName,
            status,
            f_getDictByCode('status',status) as statusName,
            created_at as createdTime
            from role
        ]]>
        <where>
            <if test="roleCode != null and roleCode != ''">
                and TRIM(role_code) = #{roleCode}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="advanceColumnLike != null">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , role_code ]]>
                <![CDATA[ , role_name ]]>
                <![CDATA[ ) Like #{advanceColumnLike} ]]>
            </if>
        </where>
        <if test="_limit != null and _offset !=null">
            limit #{_limit} offset #{_offset}
        </if>
    </select>


    <delete id="delete" parameterType="string">
        <![CDATA[
            delete from role where role_code = #{roleCode}
        ]]>
    </delete>

    <insert id="insert" parameterType="role">
        <![CDATA[
            insert into role (role_code, role_name, create_user, update_user)
                      values (#{roleCode}, #{roleName}, #{createUser}, #{updateUser})
        ]]>
    </insert>
    <update id="update" parameterType="role">
        <![CDATA[
            update role
        ]]>
        <set>
            role_name = #{roleName},
            updated_at = #{updatedTime}
        </set>
        where role_code = #{roleCode}
    </update>

    <select id="selectCount" parameterType="map" resultType="int">
        <![CDATA[
        select count(*) from role r
        ]]>
        <where>
            <if test="roleCodeEqual != null and roleCodeEqual != ''">
                and TRIM(role_code) = #{roleCodeEqual}
            </if>
            <if test="advanceColumnLike != null">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , role_code ]]>
                <![CDATA[ , role_name ]]>
                <![CDATA[ ) Like #{advanceColumnLike} ]]>
            </if>
        </where>
    </select>
</mapper>
