<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="role">

    <select id="select" parameterType="map" resultType="role">
        <![CDATA[
        select
        id,
        role_code as roleCode,
        role_name as roleName,
        created_at as createdTime,
        create_user as createUser,
        update_user as updateUser,
        updated_at as updatedTime
        from role
    ]]>
        <where>
            <if test="roleCode != null and roleCode != ''">
                and role_code = #{roleCode}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
        </where>
        <if test="_limit != null and _offset !=null">
            limit #{_limit} offset #{_offset}
        </if>
    </select>


    <delete id="delete" parameterType="map">
        <![CDATA[
        delete from role where role_code = #{roleCode}

        ]]>
    </delete>

    <insert id="insert" parameterType="role">
        <![CDATA[
        insert into role (role_code, role_name, create_user,update_user)
                      values (#{roleCode}, #{roleName}, #{createUser},#{updateUser})
        ]]>
    </insert>
    <update id="update" parameterType="role">
        <![CDATA[
        update role
        ]]>
        <set>
            <if test="roleName != null and roleName !=''">
                role_name = #{roleName},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where role_code = #{roleCode}
    </update>

</mapper>
