<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sysDict">

    <insert id="insert" parameterType="sysDict">
        <![CDATA[
        insert into sys_dict (dict_type, dict_code, dict_name, description, status, create_user, update_user, update_time)
            values (#{dictType}, #{dictCode}, #{dictName}, #{description}, #{status}, #{createUser}, #{updateUser}, #{updateTime})
        ]]>
    </insert>

    <select id="update" parameterType="sysDict" resultType="int">
        <![CDATA[
        update sys_dict dict
            set
            dict.dict_name = #{dictName},
            dict.status = #{status},
            dict.update_time = #{updateTime}
        ]]>
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectList" parameterType="map" resultType="sysDictVo">
        <![CDATA[
        select
            id,
            dict.dict_type as dictType,
            dict.dict_code as dictCode,
            dict.dict_name as dictName,
            dict.description as description,
            dict.status as status,
            f_getDictByCode('status', dict.status) as statusName
        from sys_dict dict
        ]]>
        <where>
            <if test="idEqual != null">
                <![CDATA[ and id = #{idEqual} ]]>
            </if>
            <if test="dictName != null and dictName != ''">
                and dict_name like "%"#{dictName}"%"
            </if>
            <if test="dictTypeEqual != null and dictTypeEqual != ''">
                <![CDATA[ and dict_type  = #{dictTypeEqual} ]]>
            </if>
            <if test="dictNameEqual != null and dictNameEqual != ''">
                <![CDATA[ and dict_name  = #{dictNameEqual} ]]>
            </if>
            <if test="dictCodeEqual != null">
                <![CDATA[ and dict_code = #{dictCodeEqual} ]]>
            </if>
            <if test="advanceColumnLike != null">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , dict.dict_type ]]>
                <![CDATA[ , dict.dict_name ]]>
                <![CDATA[ , dict.description ]]>
                <![CDATA[ ) Like #{advanceColumnLike} ]]>
            </if>
        </where>
        <if test="_limit != null and _offset !=null">
            limit #{_limit} offset #{_offset}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        <![CDATA[
            select count(*) from sys_dict dict
        ]]>
        <where>
            <if test="idEqual != null">
                <![CDATA[ and id = #{idEqual} ]]>
            </if>
            <if test="dictName != null and dictName != ''">
                and dict_name like "%"#{dictName}"%"
            </if>
            <if test="dictTypeEqual != null and dictTypeEqual != ''">
                <![CDATA[ and dict_type  = #{dictTypeEqual} ]]>
            </if>
            <if test="dictNameEqual != null and dictNameEqual != ''">
                <![CDATA[ and dict_name  = #{dictNameEqual} ]]>
            </if>
            <if test="dictCodeEqual != null">
                <![CDATA[ and dict_code = #{dictCodeEqual} ]]>
            </if>
            <if test="advanceColumnLike != null">
                <![CDATA[ AND CONCAT_WS(',' ]]>
                <![CDATA[ , dict.dict_type ]]>
                <![CDATA[ , dict.dict_name ]]>
                <![CDATA[ , dict.description ]]>
                <![CDATA[ ) Like #{advanceColumnLike} ]]>
            </if>
        </where>
    </select>
</mapper>
